<h2>Por pais</h2>
<hr />
<div class="row">
    <div class="col">
        <app-pais-input
            (onDebounce)="suggestions($event)"
            (onEnter)="search($event)"
            placeholder="Buscar pais..."
        ></app-pais-input>
    </div>
</div>
<hr />
<div *ngIf="isError" class="alert alert-danger">
    No se encontro nada con el termino {{ quest }}
</div>

<div *ngIf="!isError && countries.length !== 0">
    <div class="col">
        <app-pais-tabla [countries]="countries"></app-pais-tabla>
    </div>
</div>
